azure-identity==1.23.1
azure-ai-projects==1.0.0b12
azure-ai-agents==1.1.0b4  # MCPTool 対応バージョン,1.0.0b8から変更
azure-search-documents==11.5.2
azure-cosmos==4.9.0
azure-mgmt-resource==24.0.0
openai==1.72.0

# autogen
autogen-core==0.4.7
autogen-agentchat==0.4.7
autogen-ext[openai]==0.4.7

ipykernel==6.29.5
python-dotenv==1.1.1
chainlit==2.4.400

# データベース関連
pandas==2.3.1
psycopg2==2.9.10
asyncpg==0.30.0

# MCP関連
fastmcp==2.10.6

# Semantic Kernel
semantic-kernel==1.35.0